@page
@model QuemSomosModel
@{
    ViewData["Title"] = "Quem Somos";
}

<!DOCTYPE html>
<html>
<head>
    <title>Quem Somos - Groove Gallery</title>
</head>
<body style="background-color: #ced4da;">

    <div class="container mt-5">
        <h1 class="display-4">Quem Somos</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <p class="text-left pr-4">
                    A Groove Gallery é mais do que uma loja que vende álbuns de música em CD e vinil; é um santuário para todos aqueles que têm uma paixão ardente pela música. Somos uma loja que valoriza o passado e o presente da música, e acreditamos que cada álbum é uma obra de arte que merece ser apreciada.
                </p>
                <p class="text-left pr-4">
                    Ao entrar em nossa loja, você será imediatamente transportado para um mundo de notas e ritmos. O som suave de vinis antigos ecoa pelo ambiente, criando uma atmosfera nostálgica que envolve os visitantes. Nossas prateleiras estão repletas de uma ampla variedade de álbuns de todos os gêneros musicais imagináveis, desde clássicos atemporais até as últimas novidades da indústria da música.
                </p>
                <p class="text-left pr-4">
                    Nossa equipe é composta por amantes da música apaixonados, prontos para compartilhar histórias e recomendações sobre os melhores álbuns. Se você estiver em busca de um vinil raro, um CD de uma edição limitada ou apenas deseja explorar novos sons, estamos aqui para ajudar.
                </p>
            </div>
            <div class="col-md-6">
                <img src="~/images/vitrola-gq.webp" alt="Vitrola" class="img-fluid">
            </div>
        </div>
    </div>
</body>
</html>